

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 125%;
}




/* --------------------------------------------------------------------
                               MAIN NAVIGATION 
----------------------------------------------------------------------*/

.mainnav-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  background-color: rgb(86, 75, 148);
}

.mainnav-ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.mainnav-li {

}
.mainnav-a:link,
.mainnav-a:visited {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  font-weight: 600;
}

.mainnav-a:hover,
.mainnav-a:active {
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);

  border-radius: 3px ;
}




/* --------------------------------------------------------------------
                              HOME
----------------------------------------------------------------------*/

.home-section-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0px 20px;
  margin-top: 40px;
  column-gap: 20px;
}




.spinner {
  position: relative;
}


@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 5px solid rgba(204, 204, 204, 0.767);
  border-top-color: rgba(0, 118, 221, 0.637);
  /* border-top: 3px solid rgba(86, 75, 148, 0.473);
  border-right: 3px solid black; */
  animation: spinner 0.6s linear infinite;
}


/* --------------------------------------------------------------------
                              CREATE
----------------------------------------------------------------------*/
.create-maindiv {
  width: 600px;
  margin: 0 auto;
}

.title,
.textarea,
.btn-submit {
  display: block;
  width: 600px;
}

.textarea {
  height: 300px;
}